.container {
  max-width: 400px;
  margin: 40px auto;
  margin-top: 70px;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 10px 30px 10px 30px;
}

footer {
  text-align: center;
  grid-template-columns: 2fr 2fr 0fr 0fr;
  grid-gap: 1px;
}
